@font-face {
    font-family: 'Atma-Medium';
    src: url('fonts/atma/Atma-Medium.woff2') format('woff2'),
        url('fonts/atma/Atma-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}